interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.worldbank.org/v2/sdmx/rest/dataflow/WB
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<!--DDP Web Service v5.2.3-->\r\
        \n<Structure xmlns=\"http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message\"\
        >\r\n  <Header>\r\n    <ID>IDREF2</ID>\r\n    <Test>false</Test>\r\n    <Prepared>2019-08-25T10:19:51.455589-04:00</Prepared>\r\
        \n    <Sender id=\"Unknown\" />\r\n    <Receiver id=\"Unknown\" />\r\n  </Header>\r\
        \n  <Structures>\r\n    <Dataflows xmlns=\"http://www.sdmx.org/resources/sdmxml/schemas/v2_1/structure\"\
        >\r\n      <Dataflow id=\"WDI\" urn=\"urn:sdmx:org.sdmx.infomodel.datastructure.Dataflow=WB:WDI(1.0)\"\
        \ agencyID=\"WB\" version=\"1.0\" isFinal=\"true\">\r\n        <Name xml:lang=\"\
        en\" xmlns=\"http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common\">World\
        \ Development Indicators</Name>\r\n        <Structure>\r\n          <Ref id=\"\
        WDI\" version=\"1.0\" agencyID=\"WB\" package=\"datastructure\" class=\"DataStructure\"\
        \ xmlns=\"\" />\r\n        </Structure>\r\n      </Dataflow>\r\n    </Dataflows>\r\
        \n  </Structures>\r\n</Structure>"
    headers:
      Content-Disposition:
      - attachment;filename=dataflow_wb.xml
      Content-Type:
      - text/xml; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
