interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://api.worldbank.org/v2/sdmx/rest/datastructure/WB/WDI
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<!--DDP Web Service v5.2.3-->\r\
        \n<Structure xmlns=\"http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message\"\
        >\r\n  <Header>\r\n    <ID>IDREF7</ID>\r\n    <Test>false</Test>\r\n    <Prepared>2019-08-25T16:18:55.9657361-04:00</Prepared>\r\
        \n    <Sender id=\"Unknown\" />\r\n    <Receiver id=\"Unknown\" />\r\n  </Header>\r\
        \n  <Structures>\r\n    <DataStructures xmlns=\"http://www.sdmx.org/resources/sdmxml/schemas/v2_1/structure\"\
        >\r\n      <DataStructure id=\"WDI\" urn=\"urn:sdmx:org.sdmx.infomodel.datastructure.DataStructure=WB:WDI(1.0)\"\
        \ agencyID=\"WB\" version=\"1.0\" isFinal=\"true\">\r\n        <Name xml:lang=\"\
        en\" xmlns=\"http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common\">World\
        \ Development Indicators</Name>\r\n        <DataStructureComponents>\r\n \
        \         <DimensionList id=\"DimensionDescriptor\" urn=\"urn:sdmx:org.sdmx.infomodel.datastructure.DimensionDescriptor=WB:WDI(1.0).DimensionDescriptor\"\
        >\r\n            <Dimension id=\"FREQ\" urn=\"urn:sdmx:org.sdmx.infomodel.datastructure.Dimension=WB:WDI(1.0).FREQ\"\
        \ position=\"1\">\r\n              <ConceptIdentity>\r\n                <Ref\
        \ id=\"FREQ\" maintainableParentID=\"WDI_CONCEPT\" maintainableParentVersion=\"\
        1.0\" agencyID=\"WB\" package=\"conceptscheme\" class=\"Concept\" xmlns=\"\
        \" />\r\n              </ConceptIdentity>\r\n              <LocalRepresentation>\r\
        \n                <Enumeration>\r\n                  <Ref id=\"CL_FREQ_WDI\"\
        \ version=\"1.0\" agencyID=\"WB\" package=\"codelist\" class=\"Codelist\"\
        \ xmlns=\"\" />\r\n                </Enumeration>\r\n              </LocalRepresentation>\r\
        \n            </Dimension>\r\n            <Dimension id=\"SERIES\" urn=\"\
        urn:sdmx:org.sdmx.infomodel.datastructure.Dimension=WB:WDI(1.0).SERIES\" position=\"\
        2\">\r\n              <ConceptIdentity>\r\n                <Ref id=\"SERIES\"\
        \ maintainableParentID=\"WDI_CONCEPT\" maintainableParentVersion=\"1.0\" agencyID=\"\
        WB\" package=\"conceptscheme\" class=\"Concept\" xmlns=\"\" />\r\n       \
        \       </ConceptIdentity>\r\n              <LocalRepresentation>\r\n    \
        \            <Enumeration>\r\n                  <Ref id=\"CL_SE[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.worldbank.org/v2/sdmx/rest/codelist/WB/CL_FREQ_WDI
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<!--DDP Web Service v5.2.3-->\r\
        \n<Structure xmlns=\"http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message\"\
        >\r\n  <Header>\r\n    <ID>IDREF8</ID>\r\n    <Test>false</Test>\r\n    <Prepared>2019-08-25T16:18:56.2793703-04:00</Prepared>\r\
        \n    <Sender id=\"Unknown\" />\r\n    <Receiver id=\"Unknown\" />\r\n  </Header>\r\
        \n  <Structures>\r\n    <Codelists xmlns=\"http://www.sdmx.org/resources/sdmxml/schemas/v2_1/structure\"\
        >\r\n      <Codelist id=\"CL_FREQ_WDI\" urn=\"urn:sdmx:org.sdmx.infomodel.codelist.Codelist=WB:CL_FREQ_WDI(1.0)\"\
        \ agencyID=\"WB\" version=\"1.0\" isFinal=\"true\">\r\n        <Name xml:lang=\"\
        en\" xmlns=\"http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common\">Frequency\
        \ code list</Name>\r\n        <Code id=\"A\" urn=\"urn:sdmx:org.sdmx.infomodel.codelist.Code=WB:CL_FREQ_WDI(1.0).A\"\
        >\r\n          <Name xml:lang=\"en\" xmlns=\"http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common\"\
        >Annual</Name>\r\n        </Code>\r\n        <Code id=\"2A\" urn=\"urn:sdmx:org.sdmx.infomodel.codelist.Code=WB:CL_FREQ_WDI(1.0).2A\"\
        >\r\n          <Name xml:lang=\"en\" xmlns=\"http://www.sdmx.org/resources/sdmxml/schemas/v2_1/common\"\
        >Two-year average</Name>\r\n        </Cod[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.worldbank.org/v2/sdmx/rest/codelist/WB/CL_SERIES_WDI
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<!--DDP Web Service v5.2.3-->\r\
        \n<Structure xmlns=\"http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message\"\
        >\r\n  <Header>\r\n    <ID>IDREF9</ID>\r\n    <Test>false</Test>\r\n    <Prepared>2019-08-25T16:18:56.6376621-04:00</Prepared>\r\
        \n    <Sender id=\"U[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.worldbank.org/v2/sdmx/rest/codelist/WB/CL_REF_AREA_WDI
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<!--DDP Web Service v5.2.3-->\r\
        \n<Structure xmlns=\"http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message\"\
        >\r\n  <Header>\r\n    <ID>IDREF10</ID>\r\n    <Test>false</Test>\r\n    <Prepared>2019-08-25T16:18:57.7470897-04:00</Prepared>\r\
        \n    <Sender id=[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://api.worldbank.org/v2/sdmx/rest/codelist/WB/CL_UNIT_MULT_WDI
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<!--DDP Web Service v5.2.3-->\r\
        \n<Structure xmlns=\"http://www.sdmx.org/resources/sdmxml/schemas/v2_1/message\"\
        >\r\n  <Header>\r\n    <ID>IDREF11</ID>\r\n    <Test>false</Test>\r\n    <Prepared>2019-08-25T16:18:58.340856-04:00</Prepared>\r\
        \n    <Sender id=[...]
